/*style_index_2*/

html{
    background-color: black;
    min-height: 100%;
    width: 100%;
    object-fit: cover; 
}

.background {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

a {
    height: 40px;
    width: 100px;
    margin: 0 0 0 5%;
}

button{
    background-color: rgba(255, 222, 92, 0.6);
    border-radius: 10em;
    height: 40px;
    width: 100px;
    font-family: Verdana;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(227, 227, 227);
    margin: 0% 0 0 0%;
}

.table{
    margin: 0 5%;
    padding: 0em;
    display: flex;
    background-image: url(https://i.gifer.com/EPts.gif);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: visible;
    width: 90%;
    height: 100%;
}

.container {
    margin: 0 0 0 50%;
}

h1{
    font-family: Helvetica;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px black;
    color: lightgray;
}

h2{
    font-family: monospace;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

p{
    font-family: Verdana;
    font-size: 22px;
    color: white;
}

table tr{
    height: 300px;
}

table td{
    width: 500px;
}

#site1:hover, #site2:hover, #site3:hover, #site4:hover, #site5:hover,
#site6:hover, #site7:hover {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}
  
a.site1, a.site2, a.site3, a.site4, a.site5, a.site6, a.site7 {
    text-decoration: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    position: relative;
    margin: 100px;
    margin-left: 120px;
    border-radius: 80px 0 80px 0;
}

#site1{
    background-image: url(img/siteCobras.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site2{
    background-image: url(img/siteEbooks.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site3{
    background-image: url(img/siteModelo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site4{
    background-image: url(img/siteUnes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site5{
    background-image: url(img/siteTecBlog.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site6{
    background-image: url(img/siteAnime.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

#site7{
    background-image: url(img/contrucao.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    border-radius: 80px 0 80px 0;
}

footer {
    background-color: rgba(133, 125, 125, 0.6);
    width: 100%;
    height: 150px;
    padding: 10px 0 0 0;
    margin: em 0 0 0;
    position: relative;
}

#cidade{
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
    position: absolute;
}